# Database
DATABASE_URL=postgresql://plotchain:plotchain@localhost:5432/plotchain
REDIS_URL=redis://localhost:6379

# Blockchain
POLYGON_RPC_URL=https://rpc-mumbai.maticvigil.com
DEPLOYER_PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80

# Server
PORT=4000
FRONTEND_URL=http://localhost:3000
NODE_ENV=development

# Auth
JWT_SECRET=change_this_to_a_secure_random_string

# IPFS
IPFS_GATEWAY_URL=https://gateway.pinata.cloud/ipfs/
PINATA_API_KEY=your_pinata_key
PINATA_SECRET=your_pinata_secret
